@require "./definitions"

main .v-select
  font-family inherit
  color text-color

  input {
    left: 0;
    position: absolute !important;
  }

  .dropdown-toggle {
    border-radius: 0;
    border: input-border;
    padding: 4px;
    position: relative;
    white-space: nowrap;
  }

  .open-indicator
    height 24px

  span.selected-tag {
    height: 28px;
    margin-right: 25px;
    position: relative !important;
    one-liner-ellipsis()
  }

  .dropdown-toggle button.clear
    display none

  ul.dropdown-menu
    max-height initial !important
    overflow auto
    border input-border
    box-shadow none
    padding 0
    li
      a
        line-height 2.5em
        transition none
      &:nth-child(2n)
        background none
      &.highlight > a
        background-color uber-blue
      .active > a
        color #333
        background rgba(50, 50, 50, .1)