@require "./definitions"

main .v-select
  font-family inherit
  color text-color

  .dropdown-toggle {
    border-radius: 0;
    border: input-border;
    padding: 4px;
    position: relative;
    white-space: nowrap;
  }

  .open-indicator
    height 24px

  span.selected-tag
    one-liner-ellipsis()

  &.single.open span.selected-tag
    position static
    opacity 1

  &.unsearchable input[type="search"]
    width 20px !important

  .dropdown-toggle button.clear
    display none

  ul.dropdown-menu
    max-height initial !important
    overflow auto
    border input-border
    box-shadow none
    padding 0
    li
      a
        line-height 2.5em
        transition none
      &:nth-child(2n)
        background none
      &.highlight > a
        background-color uber-blue
      .active > a
        color #333
        background rgba(50, 50, 50, .1)