* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body main {
  display: flex;
  flex-direction: column;
  flex: 1;
}