/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
$fontFamilyDefault = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

body {
  font-family: $fontFamilyDefault !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyDefault !important;
}

.vuepress-blog-theme-content {
  font-family: $fontFamilyDefault !important;

  p {
    white-space: pre-wrap;
  }
}

#header-wrapper, #mobile-header, .footer {
  display: none !important;
}

.content-wrapper {
  padding-top: 0;
}

a.header-anchor {
  display: none;
}

.ui-posts {
  padding-top: 50px;
}

@media (max-width: 719px) {
  .content__default:not(.custom) > h1:first-child {
    padding-top: calc(80px + 1rem);
  }
}

.ui-post-title {
  font-family: $fontFamilyDefault !important;

  a {
    transition: none !important;
  }
}

.ui-post-summary {
  color: $textColor !important;
  font-weight: normal !important;
}

.ui-post-date {
  color: $textColor !important;
  font-weight: normal !important;
}
